--extra-index-url https://download.pytorch.org/whl/cu113
torch==1.11.0+cu113 
torchaudio==0.11.0+cu113 
torchvision==0.12.0+cu113
cmake==3.22.1
pytorch-msssim
wandb
ninja
lpips
imageio
tqdm
configargparse